# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Create a new Clerk application at https://clerk.dev
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="example-publishable-key"
CLERK_SECRET_KEY="example-secret-key"

# Create a new UploadThing application at https://uploadthing.com
UPLOADTHING_SECRET="example-secret"
UPLOADTHING_APP_ID="example-app-id"

# Create a new Firebase application at https://firebase.google.com
# and create a service account. This will generate a JSON
# copy and paste each field into the corresponding variable below.
FIREBASE_PROJECT_ID="example-project-id"
FIREBASE_CLIENT_EMAIL="example_firebase@client.email"
FIREBASE_PRIVATE_KEY="example_private_key"
